.header {
  background-color: #1921e4; /* Main color for the header */
  padding: 20px;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.nav {
  width: 100%;
  max-width: 1200px; /* Max width for the nav container */
  display: flex;
  justify-content: center; /* Center the navigation items */
}

.ul {
  list-style: none; /* Remove default list styling */
  display: flex;
  gap: 20px; /* Space between each list item */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
  
  .li {
    position: relative;
  }
  
  .link {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Text color for links */
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .link:hover {
    color: #ffcd00; /* Color change on hover */
  }
  
  .link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffcd00; /* Underline color */
    left: 0;
    bottom: -5px; /* Position it just below the text */
    transition: width 0.3s ease;
  }
  
  .link:hover::after {
    width: 100%; /* Expand the underline on hover */
  }
  
  .activeLink::after {
    width: 100%; /* Always show the underline for active link */
  }
  