.ul {
  list-style: none; /* Remove default list styling */
  display: flex;
  gap: 20px; /* Space between each list item */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
  
  .li {
    position: relative;
  }
  
  .link {
    text-decoration: none; 
    color:#ffffff; 
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease; 
  }
  
  .link:hover {
    color: #ffffff; 
  }
  
  .link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #FFB703; 
    left: 0;
    bottom: -5px; 
    transition: width 0.3s ease;
  }
  
  .link:hover::after {
    width: 100%; 
  }
  
  .activeLink::after {
    width: 100%; 
  }
  .button:hover {
    transform: scale(1.05);
    transition: transform 1s ease, background-color 1s ease;
  }
  
  .button svg {
    transition: transform 0.3s ease;
  }
  
  .button:hover svg {
    transform: rotate(10deg); /* Slight rotation for the icon */
  }
  
  