.ul {
  list-style: none; /* Remove default list styling */
  display: flex;
  gap: 20px; /* Space between each list item */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
  
  .li {
    position: relative;
  }
  
  .link {
    text-decoration: none; /* Remove underline from links */
    color:#ffffff; /* Text color for links */
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .link:hover {
    color: #ffffff; /* Color change on hover */
  }
  
  .link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #FFB703; /* Underline color */
    left: 0;
    bottom: -5px; /* Position it just below the text */
    transition: width 0.3s ease;
  }
  
  .link:hover::after {
    width: 100%; /* Expand the underline on hover */
  }
  
  .activeLink::after {
    width: 100%; /* Always show the underline for active link */
  }
  